{% extends "app/base.html" %}
{% load static %}
{% block cart %}
<div style=" min-height:80vh; width:80%;margin-left:12%;" >
<div>
<div class="tb_cart">
<table  width="100%" >
    <tr >
        <td class="item_cart" width="30%"></td>
        <td class="item_cart" width="30%">Tên</td>
        <td class="item_cart" width="25%">Giá</td>
        <td class="item_cart" width="10%">Số lượng</td>
        <td class="item_cart" width="5%"></td>
    </tr>
    {% for item in items %}
    <tr>
        <td class="item_cart"><img height="100px" src="{{ item.product.ImgURL }}"></td>
        <td class="item_cart">{{ item.product.name }}</td>
        <td class="item_cart">{{ item.product.price }} VNĐ</td>
        <td class="item_cart">
            {% if item.product.quantity > 0 %}
                <a class="quantity_cart" data-product="{{ item.product.id }}" data-action="add" style="cursor:pointer;">+</a>
            {% endif %}
            {{ item.quantity }}
            <a class="quantity_cart" data-product="{{ item.product.id }}" data-action="remove" style="cursor:pointer;">-</a>
        </td>
        <td class="item_cart">{{ order.get_total_item }}</td>
    </tr>
{% endfor %}

    
</table>

</div>
<div class="all_item">
    <a class="btn_continue" href="{% url 'home'%}" style="text-decoration: none; color: black;border:1px solid black;padding:5px;">← Tiếp tục mua hàng</a>
    <p>Số lượng: {{order.get_cart_items}}</p>
    <p>Tổng:  {{order.get_cart_total}} VNĐ</p>
    <a type="button" class="btn_checkout" href="{%url 'checkout'%}">Đến thanh toán</a>
</div>
</div>
</div>
{% endblock cart %}