{% extends "app/base.html" %}
{% load static %}
{% block checkout %}

<div class="container">

<form method="post">
<div class="border_checkout box1">
    <div style="padding:8px;">
        <h2>Thông tin khách hàng</h2>
        <div>
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div>
            <input name="" id="" class="btn btn-outline-success" type="submit" value="Xác nhập">
        </div>
    </div>
</div> 
</form>
<!-- checkout.html -->


<div class="border_checkout box2">
    <table  width="100%" >
        <tr>
            <td height="50px"><a style="text-decoration: none; color: black; border:1px solid black;padding:5px;margin-top:5px;" href="{% url 'cart' %}">← Back cart</a></td>
        </tr>
        <tr>  
            <td>Thông tin sản phẩm</td>
        </tr>
        {% for item in items %}
    <tr >
        <td width="25%" class="item_cart"><img height="100px" src="{{item.product.ImgURL}}"></td>
        <td width="35%" class="item_cart">{{item.product.name}}</td>
        <td width="15%" class="item_cart">{{item.product.price}}</td>
        <td width="10%" class="item_cart">X {{item.quantity}}</td>
       
    </tr>
        {% endfor %}
    <tr>
        <td>
            <p>Số lượng: {{ total_quantity }}</p>
        </td>
        <td>
            <p>Tổng: {{ total_price }}</p>
        </td>
    </tr>
</table>
</div>
    
</div>


{% endblock checkout %}



