{% extends "app/base.html" %}
{% load static %}
{% block main-content %}
<div style="width:25%; margin-left:37.5%; min-height:60vh;">
    <form method = "POST" style="display: flex;box-shadow: 0px 0px 5px -2px;margin-top:20px;flex-direction: column;align-items: center; border-radius:5px; background-color:white;" >
        <br>
        <h3>Sửa thông tin của {{request.user.first_name}}</h3>
    <div style="width: 93%; display:flex; flex-direction:column;align-item:center; margin-top:20px;">
        {% csrf_token %}
        <label>Tên:</label>
        {{form.first_name}}
        <label>Email:</label>
        {{form.email}}
        <label>Địa chỉ:</label>
        {{form.address}}
        <label>Số điện thoại:</label>
        {{form.phone_number}}
        <a href="{% url "change_password" %}">Bạn muốn đổi mật khẩu?</a>
    </div>
    <br>
    <input type="submit" value="Sửa" class="btn_changepass" style="width:100px; margin-bottom:20px;">
    </form>


</div>
&nbsp
{% endblock main-content %}