{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="">
    </head>
    <body style="background-color:#fafafa; position: relative;">
        <form method = "POST" action="">
            {% csrf_token %}
        <div class="bg-register">
            <a class="navbar-brand" style="display: flex; justify-content: center;" href="{% url 'home'%}"><img src="{% static "app/images/logo.jpg" %}" width="70px" alt=""></a>
            <h1 style="margin-left: 38%;">Đăng ký</h1>
            <ul>
                <li >
                  <label for="">Tên đăng ký:</label><br>
                  {{form.username}}
                </li>
            </ul>
            <ul>
                <li>
                    <label for="">Email:</label><br>
                    {{form.email}}
                </li>
            </ul>
            <ul>
                <li>
                    <label for="">First name:</label><br>
                    {{form.first_name}}
                </li>
            </ul>
            <ul>
                <li>
                    <label for="">Last name:</label><br>
                    {{form.last_name}}
                </li>
            </ul>
            <ul>
                <li>
                    <label for="">Mật khẩu:</label><br>
                    {{form.password1}}
                </li>
            </ul>
            <ul>
                <li>
                    <label for="">Xác nhận mật khẩu:</label><br>
                    {{form.password2}}
                </li>
            </ul>
            <ul>
                <li>
                    <label for="">Đã có tài khoản ? <a href={% url "login" %}>Đăng nhập</a></label>
                </li>
                <li>
                    <input type="submit" class="btn-register" name="" id="" value="Đăng ký" placeholder="">
                </li>
            </ul>
       </div>
    </form>
    </body>
</html>