{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="">
    </head>
    <body style="background-color:#fafafa; position: relative;">
        <div class="bg-log-reg">
        <form method = "POST" action="">
            {% csrf_token %}
        <div class="bg-register">
            <a class="navbar-brand" style="display: flex; justify-content: center;" href="{% url 'dashboard'%}"><img src="{% static "app/images/logo.jpg" %}" width="70px" alt=""></a>
            <h1 style="text-align:center;">Đăng ký</h1>
            {% if messages %}
                
                        {% for message in messages %}
                        
                            <li style="width: 42%;">
                                <label style="color:red;" id="message">{{message}}</label> <br>
                               
                            </li>
                            
                       
                        {% endfor %}
                  
                    {% endif %}
            <ul style="display:flex;">
                
                <li style="width: 42%;">
                    <label for="">First name:</label><br>
                    <input type="text" name="first_name" id="id_first_name">
                </li>
                <li style="width: 42%; margin-left: 8%;">
                    <label for="">Last name:</label><br>
                    <input type="text" name="last_name" id="id_last_name">
                </li>
            </ul>
           
            <ul>
                <li >
                  <label for="">Tên đăng ký:</label><br>
                  <input type="text" name="username" id="id_username">
                  
                </li>
            </ul>
            <ul style="display:flex;">
                <li style="width: 42%;">
                    <label for="">Email:</label><br>
                    <input type="email" name="email" id="id_email">
                    
                </li>
                <li style="width: 42%; margin-left: 8%;">
                    <label for="">Số điện thoại:</label><br>
                    <input type="number" name="phone_number" id="id_phone_number">
        
                </li>
                
            </ul>
            <ul>
                <li>
                    <label for="">Địa chỉ:</label><br>
                    <input type="text" name="address" id="id_address">
              
                </li>
            </ul>        
            <ul>
                <li>
                    <label for="">Mật khẩu:</label><br>
                    <input type="password" name="password1" id="id_password1">
                
                </li>
            </ul>
            <ul>
                <li>
                    <label for="">Xác nhận mật khẩu:</label><br>
                    <input type="password" name="password2" id="id_password2">

                </li>
            </ul>
            <ul>
                <li>
                    <label for="">Đã có tài khoản ? <a href={% url "login" %}>Đăng nhập</a></label>
                </li>
                <li>
                    <input type="submit" class="btn-register" name="" id="" value="Đăng ký" placeholder="">
                </li>
            </ul>
       </div>
    </form>
</div>
    </body>
</html>